.container {
    text-align: center;
    width: 70%;
    margin: auto;
}

h1 {
    font-size: 8rem;
    margin: 30px;
    font-family: 'Lobster', cursive;
    color: #5B6DE3;
}

p{
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    color : #5B6DE3;

}

footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }

  body{
    background-color: #54BBF0; 
  }

  .dice {
    text-align: center;
    display: inline-block;
  
  }

  img {
    width: 80%;
  }
  